{% extends 'base.html.twig' %}

{% block title %}Hello CentraletaController!
{% endblock %}

{% block body %}
	<div class="container-fluid position-relative">
		<div class="position-absolute h-100 w-100 principalFormTasca">
			<div class="caixa caixa--gris position-absolute top-50 start-50 translate-middle text-center rounded p-5">
				<p class="h4">Nova Tasca</p>
				<hr>
				{{ render(controller(
					'App\\Controller\\CentraletaController::principalTasca',
				)) }}
			</div>
		</div>
		<div class="row">
			<div class="contenidor-calendari col-sm-12 col-lg-8 vh-100 p-3">
				<div class="calendari h-100 rounded">
					<div class="calendari__nomDies row rounded-top ms-0 me-0">
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dilluns</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dimarts</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dimecres</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dijous</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Divendres</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dissabte</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Diumenge</p>
						</div>
					</div>
				</div>
			</div>
			<div class="aside col-sm-12 col-lg-4 vh-100">
                <div class="row ps-2 ps-lg-0 h-100">
                    <div class="llista col-sm-8 col-lg-12 pt-3 pe-2 h-75">
                        <h1>Tasques <span class="text-muted fs-5">01/02/2023</span></h1>
                        <div class="form-check ps-5 fs-4">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                              Default checkbox 1
                            </label>
                        </div>
                        <div class="form-check ps-5 fs-4">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                              Default checkbox 2
                            </label>
                        </div>
                        <div class="form-check ps-5 fs-4">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                              Default checkbox 3
                            </label>
                        </div>
                        <div class="form-check ps-5 fs-4">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                              Default checkbox 4
                            </label>
                        </div>
                        <div class="form-check ps-5 fs-4">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="flexCheckDefault">
                              Default checkbox 5
                            </label>
                        </div>
                    </div>
                <!-- </div>
                <div class="row ps-2 ps-lg-0 pt-2 pe-2 pb-2"> -->
                    <div class="col-sm-4 col-lg-12 pt-3 pe-2 h-25" >
						<div class="row h-100 pe-2 align-items-center">
							<div class="col"></div>
							<div class="col">
								<a class="boto btn w-100 btn-primary" href="#">Diari</a>
								<br>
								<a class="boto btn w-100 btn-secondary mt-2" href="/logout">Log Out</a>
							</div>
						</div>
                    </div>
                </div>
            </div>

		</div>
	</div>
{% endblock %}
