{% extends 'base.html.twig' %}

{% block title %}Hello CentraletaController!
{% endblock %}

{% block body %}
	<div class="container-fluid position-relative">
		<div class="position-absolute h-100 w-100 principalFormTasca">
			<div class="caixa caixa--gris position-absolute top-50 start-50 translate-middle text-center rounded p-5">
				<p class="h4">Nova Tasca</p>
				<hr>
				{{ render(controller(
					'App\\Controller\\CentraletaController::principalTasca',
				)) }}
			</div>
		</div>
		<div class="row">
			<div class="contenidor-calendari col-sm-12 col-lg-8 vh-100 p-3">
				<div class="calendari h-100 rounded">
					<div class="calendari__nomDies row rounded-top ms-0 me-0">
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dilluns</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dimarts</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dimecres</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dijous</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Divendres</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Dissabte</p>
						</div>
						<div class="col">
							<p class="calendari__nomDia fs-3 mt-1">Diumenge</p>
						</div>
					</div>
					{# <div class="calendari__setmana row ms-0 me-0">
						<div class="col calendari__dia">
							<span>1</span>
						</div>
						<div class="col calendari__dia">
							<span>2</span>
						</div>
						<div class="col calendari__dia">
							<span>3</span>
						</div>
						<div class="col calendari__dia">
							<span>4</span>
						</div>
						<div class="col calendari__dia">
							<span>5</span>
						</div>
						<div class="col calendari__dia">
							<span>6</span>
						</div>
						<div class="col calendari__dia h-100 scroll">
							<span>9</span>
							<ul class="list-unstyled">
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1 text-truncate">Anar a pel pàaaaaaaaaaaaaaaaaaaa</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1">Bon dia</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1 text-truncate">Anar a pel pàaaaaaaaaaaaaaaaaaaa</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1">Bon dia</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1 text-truncate">Anar a pel pàaaaaaaaaaaaaaaaaaaa</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1">Bon dia</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1 text-truncate">Anar a pel pàaaaaaaaaaaaaaaaaaaa</li>
								<li class="calendari__tasca rounded mb-1 ps-1 pe-1">Bon dia</li>
							</ul>
						</div>
					</div>
					<div class="calendari__setmana row ms-0 me-0"></div>
					<div class="calendari__setmana row ms-0 me-0"></div>
					<div class="calendari__setmana row ms-0 me-0"></div>
					<div class="calendari__setmana row ms-0 me-0"></div>
					<div class="calendari__setmana row rounded-bottom ms-0 me-0"></div> #}
				</div>
			</div>

		</div>
	</div>
{% endblock %}
